div#KDLSA{
    width: 23cm;
    height: 70px;
    background-color: darkgreen;
    position: relative;
    top: -0cm;
    left: 60px;
    right: 20px;
    display: block;
}

div#404page{
    width: 10cm;
    height: 70px;
    background-color: chartreuse;
    position: relative;
    top: -80px;
    left: 491px;
    display: block;
}