div#KDLSA{
    font-size: 7mm;
    margin-left: 50px;
    width: 23cm;
    height: 70px;
    background-color: darkgreen;
    position: relative;
    top:-650px
}

div#Acciones{
    width: 20cm;
    height: 500px;
    background-color: greenyellow;
    position: relative;
    top:-650px;
    left: 50px;
}

div#redes{
    width: 10cm;
    height: 70px;
    background-color: chartreuse;
    position: relative;
    left:500px;
}

div#publicidad{
    width: 7cm;
    height: 630px;
    background-color: gray;
    position: relative;
    top: 10px;
    left:950px
}

a.Whatsapp{
    display: block;
    width: 210px;
    height: 70px;
    background-color: antiquewhite;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: -490px;
    left: 27px;
}
h1.whats_letter{
    position: relative;
    top: 25px;
    font-size: 5mm;
}

img#shion_gif{
    width: 264px;
    height: 120px;
}

div#Informacion{
    width: 13cm;
    height: 500px;
    background-color: grey;
    position: relative;
    top:0px;
    left: 270px;
    
}

h1.mensaje{
    width: 700px;
    height: 500px;
}