

div#pagina{
    margin:auto;
    margin-top: 50px;
    width: 1600px;
    height: 800px;
    background-color: green;
}

div#button{
    float: left;
    width: 300px;
    height: 600px;
    background-color: greenyellow;
}

 
a{
    margin-right: 50px;
    display: block;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width:270px ;
    height:100px;
    background-color: antiquewhite;
    
}

a.Informacion{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 260px;
    height: 90px;
    text-align: center;
    color:black
}

div#image{
    
    float:right ;
    width:1200px;
    height:700px;

}

img{
    margin-right: 20px;
    width:1000px;
    height:600px;
}

a.Archivos{
    width: 260px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    color: black;
}

h1.archivo{
    font-size: 7mm;
    position:relative;
    top:30px
}

h1.info{
    font-size: 7mm;
    position: relative;
    top:30px;

}

a.Novedades{
    display: block;
    width: 260px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    color: black;
}

h1.noves{
    font-size: 7mm;
    position: relative;
    top:30px
}
