div#KDLSA{
    width: 23cm;
    height: 70px;
    background-color: darkgreen;
    position: relative;
    top: -20px;
    left: 60px;
    right: 20px;
}

div#Novedades{
    width: 10cm;
    height: 70px;
    background-color: chartreuse;
    position: relative;
    top: -80px;
    left: 491px;
}

div#Contenido{
    width: 870px;
    height: 900px;
    background-color: gainsboro;
    position: relative;
    top: 40px;
    left: 59px;
}