div#KDLSA{
    width: 23cm;
    height: 70px;
    background-color: darkgreen;
    position: relative;
    top: -24.5cm;
    left: 60px;
    right: 20px;
}

div#Novedades{
    width: 10cm;
    height: 70px;
    background-color: chartreuse;
    position: relative;
    top: -80px;
    left: 491px;
}

div#Contenido{
    width: 870px;
    height: 900px;
    background-color: gainsboro;
    position: relative;
    top: 2.3cm;
    left: 59px;
}

div#Contenido2{
    width: 870px;
    height: 900px;
    background-color: gainsboro;
    position: relative;
    top: 2.3cm;
    left: 59px;
    display: none;
}

button#Avanzar{
    display: block;
    width: 80px;
    height: 80px;
    background-color: antiquewhite;
    position: relative;
    top: 550px ;
    left: 20px;
}