
div.contenedor{
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;

}

header {
    background: chartreuse;
    margin: 20px 0;
}

section.main{
    width: 300px;
    background: beige;
    padding:20px;
    float:left  ;
    box-sizing:border-box;
}