div#Contenido{
    
    display: block;
    width: 100%;
    height: 600px;
    background-color: yellowgreen;
}

div#Barralateralizq{
    float: left;
    width: 400px;
    height: 100%;
    background-color: cornsilk;
}