body{
    margin: 0;
}

div.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}

header {
    background: chartreuse;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

section.main{
    width: 30%;
    background: beige;
    padding:20px;
    float:left  ;
    box-sizing:border-box;
}

.Title{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}